html {
  background-color: #77a1c777
}

body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}


.Navbar  {
  background-color: #41596e;
  text-decoration: none;
  
  
  
}

.NavLinks a {
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  justify-content: space-around;
  padding: 20px;
  border-right: 1px solid #bbb
}


.NavLinks a:hover {
  background-color: #2f4150;
  
}
.NavLinks .Cart:hover{
  background-color: #2b7e24;
  transition: 0.4s;
}

.Cart {
  float:right;
  border-left: 1px solid #bbb;
}



.Benvenuto  {
  font-family: sans-serif;
  justify-content: center;
  text-align: center;
}


.footer {
  background-color: #41596e;
  font-family: sans-serif;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top:  60px;
  
}

.footer a {
  text-decoration: none;
  color: #fff;


}
.footer p {
  margin: 2px;
}


.desktopContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 60px;
}



.desktopCard {
  width: 300px;
  background-color: #8988881f;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: #2f41505b 0 3px 3px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.desktopCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.desktopCard img {
  width: 50%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 16px;
}

.desktopCard h1 {
  font-family: sans-serif;
  font-size: 18px;
  
}

.desktopPrice {
  font-family: sans-serif;

}

#detailsImage {
  width: 500px;
  border-radius: 45px;
}

#detailsTitle {
  color: red;
  font-family: sans-serif;
}



.detailsLink{
  font-size: 16px;
  font-family: sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #2f4150;
  padding:3px;
  
  border:3px solid #2f4150;
  border-radius: 45px;
}

.detailsLink:hover {
  color: #2f4150;
  background-color: #8988881f;
}